$cWhite: white;
$cBlack: black;
$cFontWhite: #f6f6f6;
$cHeroGray: #d7d7d7;
$cBackgroundBlack: #121212;
$cCardBlack: #1c1c1c;
// $cSubTitle: #535353;
// $cBgGray: #eaebe6;
// $cWineRed: #904669;
// $contentMaxWidth: 1070px;
// $navHeight: 100px;
